<html>
  <head>
    <title>About page</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Nobody. It uses data from weatherstack.com for weather forecasts and positionstack.com for geocoding.</p>
      <img class="portrait" src={{image}} />
    </div>
    {{>footer}}
  </body>
</html>